.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  cursor: pointer;
  height: 110px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 10px 15px -3px rgb(255 255 255 / 0.1), 0 4px 6px -4px rgb(255 255 255 / 0.1);
  }
}

.card:not(:last-child) {
  margin-right: 12px;
}

.card:hover .title {
  opacity: 1;
}

.title {
  opacity: 0.75;
}
